.content {
  position: relative;
  min-width: 907px;
  min-height: 594px;
  border-radius: 8px;
  box-shadow: 0 23px 122px 0 rgba(0, 0, 0, 0.35);
  background: url("../img/lines.svg") right -110px top -153px no-repeat,
              url("../img/circle.svg") left -149px bottom -437px no-repeat,
              #ffffff;
}
