.page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-width: 940px;
  min-height: 100vh;
  font-size: 18px;
  line-height: 30px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #3d3d3d;
  background-color: #f6f7fb;
  letter-spacing: 0.01em;
}

.page__content {
  padding: 48px 57px 48px 60px;
}
